// color palette
// https://colorhunt.co/palette/6867aca267acce7bb0ffbcd1

$primary: #6867AC; // rgb(104, 103, 172)
$secondary: #A267AC; // rgb(162, 103, 172)
$tertiary: #CE7BB0; // rgb(206, 123, 176)
$quaternary: #FFBCD1; // rgb(255, 188, 209)

$white: #ffffff;