// color palette
// https://colorhunt.co/palette/ff8787f8c4b4e5ebb2bce29e

$primary: #FF8787; // rgb(255, 135, 135)
$secondary: #F8C4B4; // rgb(248, 196, 180)
$tertiary: #E5EBB2; // rgb(229, 235, 178)
$quaternary: #BCE29E; // rgb(188, 226, 158)

$white: #ffffff;