/* You can add global styles to this file, and also import other style files */

@use 'variables';

body {
   
    background: variables.$tertiary;
    background: linear-gradient(
      90deg,
      variables.$tertiary 0%,
      variables.$quaternary 56%
    );
}

.header {
    overflow: hidden;
    background: variables.$primary;
    color: variables.$white;
}
.secondary-header {
    overflow: hidden;
    background: variables.$secondary;
    padding-top: 8px;
    padding-bottom: 8px;
}